body {
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.add-book {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
}

.add-book:hover {
    background-color: rgba(234, 231, 231, 0.911);
    cursor: pointer;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-header {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.title, .author, .pages, .is-read, .buttons, #errormsg {
    font-size: 15px;
    padding: 10px;
}

#errormsg {
    color: red;
}

#display-books {
    display: flex;
    flex-direction: row;
    gap: 50px; 
    padding: 50px;
    font-size: 18px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

.book-title, .book-author, .book-pages, .book-is-read {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.book-title {
    font-weight: bold;
}

.footer {
    display: flex;
    padding-top: 500px;
    justify-content: center;
}

.footer img {
    height: 50px;
}

#close-book-modal, .remove-button {
    background-color: #ff6347; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#close-book-modal:hover, .remove-button:hover {
    background-color: #d6341d; 
}

#add-book-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4caf50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-book-button:hover {
    background-color: #45a049;
}

